#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>

// / {
//     chosen { zmk,matrix_transform = &default_transform; };
// };

/ {
    /*
     * Trackball input. Uses ZMK input processors (instead of the old
     * zmk,input-behavior-listener) because the scaler tracks remainders:
     * fractional movement is carried over to the next report rather than
     * truncated away, so very slow movement still moves the cursor. That
     * matters for the snipe layer.
     *
     * Overrides match ANY active layer (not just the highest), so the
     * base speed now also applies on layers 4 and 5.
     */

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&vtrackball>;

        /* normal speed: half of sensor CPI (600 / 2) */
        input-processors = <&zip_xy_scaler 1 2>;

        /* scroll layer: vertical scroll only, inverted, 1/14 speed */
        scroller {
            layers = <3>;
            input-processors = <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
                               <&zip_y_to_wheel_mapper>,
                               <&zip_wheel_scaler 1 14>;
        };

        /* snipe layer: 1/8 of sensor CPI = quarter of normal speed */
        sniper {
            layers = <6>;
            input-processors = <&zip_xy_scaler 1 8>;
        };
    };

    /* Y -> wheel; X -> REL_MISC, which the HID report ignores (no h-scroll) */
    zip_y_to_wheel_mapper: zip_y_to_wheel_mapper {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        type = <INPUT_EV_REL>;
        map = <INPUT_REL_Y INPUT_REL_WHEEL>,
              <INPUT_REL_X INPUT_REL_MISC>;
    };

    zip_wheel_scaler: zip_wheel_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_WHEEL>;
        track-remainders;
    };

    /* AutoCAD command shortcuts: type the alias, then Space to run it */
    macros {
        cad_co: cad_co {
            compatible = "zmk,behavior-macro";
            label = "CAD_CO";
            #binding-cells = <0>;
            bindings = <&kp C &kp O &kp SPACE>;
        };

        cad_tr: cad_tr {
            compatible = "zmk,behavior-macro";
            label = "CAD_TR";
            #binding-cells = <0>;
            bindings = <&kp T &kp R &kp SPACE>;
        };

        cad_o: cad_o {
            compatible = "zmk,behavior-macro";
            label = "CAD_O";
            #binding-cells = <0>;
            bindings = <&kp O &kp SPACE>;
        };

        cad_ex: cad_ex {
            compatible = "zmk,behavior-macro";
            label = "CAD_EX";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp SPACE>;
        };

        cad_ro: cad_ro {
            compatible = "zmk,behavior-macro";
            label = "CAD_RO";
            #binding-cells = <0>;
            bindings = <&kp R &kp O &kp SPACE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_win_layer {
            bindings = <
&kp ESCAPE      &kp N1  &kp N2  &kp N3     &kp N4     &kp N5          &kp N6     &kp N7         &kp N8     &kp N9   &kp N0         &kp DELETE
&kp TAB         &kp Q   &kp W   &kp E      &kp R      &kp T           &kp Y      &kp U          &kp I      &kp O    &kp P          &kp EQUAL
&kp LCTRL       &kp A   &kp S   &kp D      &kp F      &kp G           &kp H      &kp J          &kp K      &kp L    &kp SEMICOLON  &kp APOSTROPHE
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C      &kp V      &kp B           &kp N      &kp M          &kp COMMA  &kp DOT  &kp SLASH      &kp RSHIFT
                                &kp SPACE  &mo 2      &kp LEFT_GUI    &mo 1      &kp BACKSPACE
                                           &mkp LCLK  &mkp RCLK       &kp ENTER
            >;

            label = "QWERTY";
        };

        win_raise_layer {
            bindings = <
&kp GRAVE       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4    &trans            &trans        &trans    &trans     &trans  &trans
&bt BT_CLR      &trans        &trans        &trans            &trans        &trans          &trans            &trans        &kp UP    &trans     &trans  &trans
&kp CAPS        &trans        &trans        &trans            &trans        &trans          &kp MINUS         &kp LEFT      &kp DOWN  &kp RIGHT  &trans  &trans
&trans          &trans        &trans        &kp K_CALCULATOR  &trans        &trans          &kp LEFT_CONTROL  &kp LEFT_ALT  &trans    &trans     &trans  &trans
                                            &trans            &trans        &trans          &trans            &trans
                                                              &trans        &trans          &trans
            >;

            label = "NUMBERS";
        };

        win_lower_layer {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3        &kp F4            &kp F5          &kp F6      &kp F7                &kp F8                 &kp F9      &kp F10    &kp F11
&trans  &trans  &trans  &kp C_PREV    &kp DEL           &kp C_NEXT      &kp GRAVE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PG_UP   &kp PSCRN  &kp F12
&tog 4  &kp L   &tog 6  &kp C_VOL_DN  &kp C_PLAY_PAUSE  &kp C_VOL_UP    &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PG_DN   &trans     &trans
&trans  &trans  &trans  &kp ENTER     &mo 3             &mkp MCLK       &kp DELETE  &kp HOME              &kp END                &kp INSERT  &kp BSLH   &trans
                        &trans        &trans            &mo 5           &trans      &mkp MCLK
                                      &trans            &trans          &trans
            >;

            label = "NAV-FUN";
        };

        scroll_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &mkp MCLK
                                &trans  &trans    &trans
            >;

            label = "SCROLL";
        };

        cad_layer {
            bindings = <
&trans      &trans   &trans   &trans  &trans      &trans     &trans  &trans  &trans  &trans  &trans  &trans
&cad_ro     &cad_co  &kp M    &kp E   &cad_tr     &kp F      &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp A    &cad_o   &kp L   &kp ESCAPE  &kp DEL    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp I    &cad_ex  &kp C   &mo 3       &mkp MCLK  &trans  &trans  &trans  &trans  &trans  &trans
                              &trans  &trans      &mo 6      &trans  &trans
                                      &trans      &trans     &trans
            >;

            label = "CAD";
        };

        numpad_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans        &trans        &trans        &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &kp N7        &kp N8        &kp NUMBER_9  &trans      &kp EQUAL
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp COMMA   &trans
&trans  &trans  &trans  &trans  &trans  &kp LEFT_ALT    &kp N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &trans
                        &trans  &trans  &trans          &trans  &trans
                                &trans  &trans          &trans
            >;

            label = "NUMPAD";
        };

        snipe_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;

            label = "SNIPE";
        };
    };
};
